body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 10%;
    height: 100%;
}

.inputBox {
    display: flex;
    justify-content: center;
    margin: 5%;
    gap: 10px;
}

.tableBox {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10, 10%);
    width: 80%;
    height: 100%;
}