body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 10%;
    height: 100%;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 10px;
}


.tableBox {
    margin-top: 2%;
    width: 80%;
    height: 90%;
}

.table {
    border: 1px solid #000;
}

th,td{
    border: #000 1px solid;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.title {
    background-color: rgb(201, 233, 235);
}