body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox input {
    width: 50%;
    height: 100%;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    margin: 2%;
    width: 30%;
    height: 100%;
}

.button button {
    background-color: oklch(90% 0.035 240);
    border: solid 2px #000;
    width: 100%;
    height: 30px;
    border-radius: 100px;
    color: #000;
}

.input {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    gap: 10px;
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tableBox {
    width: 40%;
    height: 100%;
}

.editBox {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.editInput {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: 1px solid #000;
    background-color: oklch(90% 0.035 200);
    gap: 10px;
}

.editInput select,
.editInput button {
    height: 2em;
}

.editInput select {
    background-color: oklch(90% 0.035 240);
    border: solid 2px #000;
    width: 30%;
    height: 75%;
    text-align: center;
    border-radius: 100px;
    color: #000;
}

.editInput button {
    background-color: oklch(90% 0.035 240);
    border: solid 2px #000;
    width: 10%;
    height: 75%;
    border-radius: 100px;
    color: #000;
}

.table {
    border: 1px solid #000;
    width: 80%;
    margin: auto;
}

th,
td {
    border: #000 1px solid;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.title {
    background-color: oklch(90% 0.035 200);
}

.rows {
    background-color: oklch(90% 0.035 240);
}

.subject {
    width: 30%;
    overflow: visible;
}

.score,
.avg {
    width: 3.5em;
}

.gap {
    width: 3em;
}

.date {
    width: 10em;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}