* {
    transition: background 0.5s ease-out;
}

*.dark {
    transition: background 0.5s ease-out;
    color: #FAFAFA;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 10%;
    height: 5%;
    position: fixed;
    top: 0%;
    left: 0%;
}

.inputBox input {
    width: 40%;
    height: 100%;
}

.inputBox.dark input {
    width: 40%;
    height: 100%;
    background-color: #505050;
}

.input {
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #FAFAFA;
    border: #000 1px solid;
}

.input.dark {
    background-color: #505050;
    border: #FAFAFA 1px solid;
}

.numberInput {
    display: flex;
    justify-content: center;
    align-items: center;
}


.subjInput {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.numberInput div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.subjInput input {
    width: 60%;
    height: 20%;
}

.subjInput.dark input {
    width: 60%;
    height: 20%;
}

.input label span {
    color: rgb(200, 0, 0);
}

.inputBox {
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(-50% -50%);
    background-color: #0000008f;
}

.button {
    display: flex;
    align-items: center;
    width: 30%;
    height: 50%;
}

.button button {
    background-color: oklch(90% 0.035 240);
    border: solid 2px #000;
    width: 100%;
    height: 30px;
    border-radius: 100px;
    color: #000;
}

.button button:hover{
    background-color: oklch(100% 0.035 240);
}

.button.dark button {
    background-color: oklch(50% 0.035 240);
    border: solid 2px #FAFAFA;
    width: 100%;
    height: 30px;
    border-radius: 100px;
    color: #FAFAFA;
}

.button.dark button:hover {
    background-color: oklch(60% 0.035 240);
}


.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3%;
}

.tableBox {
    width: 40%;
    height: 100%;
}

.editBox {
    width: 40%;
    display: flex;
    justify-content: center;
}

.editInput {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    border: 1px solid #000;
    background-color: oklch(90% 0.035 200);
    gap: 10px;
}

.editInput.dark {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: oklch(50% 0.035 200);
    gap: 10px;
}

.editInput select,
.editInput button {
    height: 2.5em;
}

.editInput select {
    background-color: oklch(90% 0.035 240);
    border: solid 2px #000;
    width: 30%;
    text-align: center;
    border-radius: 100px;
    color: #000;
}

.editInput.dark select {
    background-color: oklch(50% 0.035 240);
    border: solid 2px #ffffff;
    width: 30%;
    text-align: center;
    border-radius: 100px;
    color: #ffffff;
}

.editInput button {
    background-color: oklch(90% 0.035 240);
    border: solid 2px #000;
    width: 15%;
    border-radius: 100px;
    color: #000;
}

.editInput.dark button {
    background-color: oklch(50% 0.035 240);
    border: solid 2px #ffffff;
    width: 15%;
    border-radius: 100px;
    color: #ffffff;
}

.table {
    border: 1px solid #000;
    width: 80%;
    margin: auto;
}

.table.dark {
    border: 1px solid #ffffff;
    width: 80%;
    margin: auto;
}

th,
td {
    border: #000 1px solid;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

th.dark,
td.dark {
    border: #ffffff 1px solid;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.title {
    background-color: oklch(90% 0.035 200);
}

.rows {
    background-color: oklch(90% 0.035 240);
}

.title.dark {
    background-color: oklch(50% 0.035 200);
}

.rows.dark {
    background-color: oklch(50% 0.035 240);
}

.subject {
    width: 30%;
    overflow: visible;
}

.score,
.avg {
    width: 3.5em;
}

.gap {
    width: 3em;
}

.date {
    width: 10em;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.night button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: oklch(90% 0.035 240);
    border: solid 2px #000;
    width: 100%;
    height: 30px;
    border-radius: 100px;
    color: #000;
}

.night.dark button {
    background-color: oklch(50% 0.035 240);
    border: solid 2px #FAFAFA;
    width: 100%;
    height: 30px;
    border-radius: 100px;
    color: #FAFAFA;
}

.night button img {
    height: 100%;
}

.add {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    padding: 5px;
}